@import "navbar.css";
@import "header.css";
@import "cards.css";
@import "contact.css";
@import "footer.css";

body{
    font-family: "open sans", sans-serif;
    margin: 0;
    padding: 0;
    display: static;
    color: #084627;
}

.page-container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: minmax(70px,auto);
    grid-template-areas:
    "navbar navbar navbar"
    "home home home"
    "posts posts posts"
    "about about about"
    "contact contact contact"
    "footer footer footer";
    justify-content: center;
    justify-items: center;
}
/* posts */
#posts{
    grid-area: posts;
    background-image: linear-gradient(to bottom right, #f9f9fa, #f7f7f8);
    width: 100%;
}

/* about */
#about{
    grid-area: about;
    background-image: linear-gradient(to bottom right, #e3f8ed, #f7f7f8);
    width: 100%;
    text-align: center;
    justify-content: center;
}

#about-txt{
    padding: 20px;
    font-size: 18px;
}
#about-txt span{
    text-decoration: underline;
}

/* large sreens */
@media (min-width:1101px) {
    .page-container{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: minmax(70px,auto);
        grid-template-areas:
        "navbar navbar navbar"
        "home home home"
        "posts posts posts"
        "about about contact"
        "footer footer footer";
        justify-content: center;
        justify-items: center;
    }
  }