@import "navbar.css";
@import "header.css";
@import "cards.css";
@import "footer.css";

body{
    font-family: "open sans", sans-serif;
    margin: 0;
    padding: 0;
    display: static;
    color: #084627;
}

.page-container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: minmax(70px,auto);
    grid-template-areas:
    "navbar navbar navbar"
    "home home home"
    "ct ct ct"
    "rs rs rs"
    "footer footer footer";
    justify-content: center;
    justify-items: center;
}

.content{
    grid-area: ct;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #000;
    margin: 10px;
    padding: 20px;
}

.content img{
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
}

.right-side{
    grid-area: rs;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.archive a{
    text-decoration: none;
}

/* medium screens */
@media (min-width: 600px) and (max-width:1100px){
    .content{
        display: block;
        border-bottom: none;
    }
    .content figure{
        float: left;
        margin: 10px;
    }
    h2{
        text-align: center;
    } 
}

/* large sreens */
@media (min-width:1101px) {
    .page-container{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: minmax(70px,auto);
        grid-template-areas:
        "navbar navbar navbar"
        "home home home"
        "ct ct rs"
        "footer footer footer";
        justify-content: center;
        justify-items: center;
    }

    .content{
        display: block;
        border-bottom: none;
        border-right: 1px solid #000;
    }

    .content figure{
        float: left;
        margin: 20px 20px 15px 10px;
    }

    h2{
        text-align: center;
    } 
  }